body {
  margin: 0;
}

/***************** SECTION Header + menu *********************/

header {
  background-image: url("header_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.logo img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*nav{
  background: #333;
}*/

nav {
  ul {
    list-style-type: none;
    padding: 0;
  }
  a {
    text-decoration: none;
    text-align: center;
    color: #000000;
    display: block;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
  }
}

.menu a:hover {
  background-color: #288D3E;
  color: #fff;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 58, 13, 0.5);
  color: #eee !important;
  /* Firefox */
  -moz-transition: all 1s ease-in;
  /* WebKit */
  -webkit-transition: all 1s ease-in;
  /* Opera */
  -o-transition: all 1s ease-in;
  /* Standard */
  transition: all 1s ease-in;
  z-index: 5;
  a:hover {
    color: #eee !important;
    background-color: none !important;
  }
  + .content {
    padding-top: 500px;
  }
}

/***************** SECTION INFO *********************/

.info {
  height: 100vh;
  width: 100%;
  padding: 50px 0px;
  position: relative;
}

.info_content {
  position: relative;
  width: 100%;
  height: auto;
}

.info_recycle {
  position: absolute;
  top: 10%;
  left: 10%;
  img {
    width: 55%;
  }
}

.info_info {
  font-size: 30px;
  width: 30%;
  height: auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background-color: #75cf41;
  padding: 30px;
  position: absolute;
  color: #eee;
  left: 55%;
  top: 50%;
}

/***************** SECTION OFFER *********************/

.offer {
  height: 100vh;
  font-family: 'sans-serif', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(117, 207, 65, 0.71), rgba(117, 207, 65, 0.7)), url(http://rekfol.mielec.pl/media/img/top1.jpg);
  background-repeat: no-repeat;
  background-size: auto;
}

.offer_list {
  background-color: #eee;
  text-align: center;
  font-size: 32px;
  h2 {
    text-align: center;
    color: white;
  }
}

h3 {
  text-align: center;
  color: white;
}

.offer_list ul {
  display: flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 100px;
    /*background-color: red;*/
    width: 20%;
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    height: 200px;
    color: white;
    &:hover {
      color: black;
      background-color: white;
    }
  }
}

.offer_left ul li {
  &:nth-child(1), &:nth-child(3) {
    border: 10px solid white;
    border-top: none;
  }
}

.offer_right ul li {
  &:nth-child(2), &:nth-child(4) {
    border: 10px solid white;
    border-top: none;
  }
}

.offer_left ul li:nth-child(2), .offer_right ul li:nth-child(3) {
  border-top: 10px solid white;
}

.offer_left ul li:nth-child(4) {
  border-top: 10px solid white;
  border-right: 10px solid white;
}

.offer_right ul li:nth-child(1) {
  border-top: 10px solid white;
  border-left: 10px solid white;
}

/***************** SECTION Gallery *********************/

.gallery {
  height: 100vh;
  width: 100%;
}

/***************** SECTION CONTACT *********************/

.contact {
  height: 100vh;
  width: 100%;
  background-color: rgba(117, 207, 65, 0.5);
  display: block;
  padding: 0;
  margin: 0;
}

.map {
  display: inline-block;
  margin: 5%;
}

/************ Lightbox *****************/

/***************** MEDIA QUERIES *********************/

@media screen and (min-width: 768px) {
  nav {
    ul {
      display: flex;
      justify-content: center;
    }
    li {
      min-width: 200px;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 1800px) {
  .info_recycle img {
    width: 60%;
  }
  .info_info {
    font-size: 24px;
  }
  .offer_list ul li {
    font-size: 26px;
  }
  .map iframe {
    width: 700px;
    height: 600px;
  }
}

@media screen and (min-width: 1950px) {
  .info_info {
    font-size: 45px;
    padding: 50px;
  }
}

#gallery {
  padding-top: 40px;
  @media screen and (min-width: 991px) {
    padding: 60px 30px 0 30px;
  }
}

.img-wrapper {
  position: relative;
  margin-top: 15px;
  img {
    width: 100%;
  }
}
.img-overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  i {
    color: #fff;
    font-size: 3em;
  }
}

#overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  // Removes blue highlight
  -webkit-user-select: none;
  -moz-user-select: none;    
  -ms-user-select: none; 
  user-select: none; 
  img {
    margin: 0;
    width: 80%;
    height: auto;
    object-fit: contain;
    padding: 5%;
    @media screen and (min-width:768px) {
        width: 60%;
    }
    @media screen and (min-width:1200px) {
        width: 50%;
    }
  }
}

#nextButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  &:hover {
    opacity: 0.7;
  }
  @media screen and (min-width:768px) {
    font-size: 3em;
  }
}

#prevButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  &:hover {
    opacity: 0.7;
  }
  @media screen and (min-width:768px) {
    font-size: 3em;
  }
}

#exitButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  position: absolute;
  top: 15px;
  right: 15px;
  &:hover {
    opacity: 0.7;
  }
  @media screen and (min-width:768px) {
    font-size: 3em;
  }
}